<<<<<<< HEAD
@import url('http://fonts.cdnfonts.com/css/vegan-style-personal-use');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


body{
    font-family: 'Poppins';
    
}


.navbar-brand{
    font-family: 'Vegan Style Personal Use';
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
    color: hsla(14, 100%, 54%, 1);
}
.active{
    font-size: 20px;
    color: hsla(0, 0%, 11%, 1) !important;
   
}
/* .container2{
    
} */
.container2 h1{
    font-weight: 700;


}
 .pre{
    font-size: 30px;
}
.size{
    font-size: 20px;
}
.container2 section button{
    border: none;
    background-color: white;
    border-radius: 100%;
    font-size: 20px;
}
.container2 section button:hover{
    border: 1px solid black;
}
=======
@import url("http://fonts.cdnfonts.com/css/vegan-style-personal-use");

body {
  scroll-behavior: smooth;
}
.navbar-brand {
  font-family: "Vegan Style Personal Use";
}
.card {
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
  border-radius: 2px;
}
.card:hover {
  cursor: pointer;
  transform: translateY(-15px);
  transition: all 0.24s;
}
>>>>>>> a908b2a79a5510299ea22316603bc48f98a36ff1
